* {
  margin: 0;
  padding: 0;
  font-family: "work sans", "sans sarif";
}

body {
  font-family: "Work Sans", sans-serif;
}

input:focus {
  outline: none;
}

button:hover,
.pointer:hover {
  cursor: pointer;
}

/* navbar-------> */
nav {
  display: flex;
  flex-direction: column;
  top: 0px;
}

.hamburger{
  position: absolute;
  font-size: 30px;
  top:20px;
  right: 20px;
}

#the-logo {
  font-style: italic;
}

.logo {
  margin: auto;
  display: flex;
}


.logo-down {
  display: flex;
  align-items: center;
}

.logo-down h5 {
  display: inline;
  font-size: 30px;
  color: hsl(226, 61%, 41%);
}


.logo div {
  display: flex;
  font-size: 30px;
  align-items: center;
  font-weight: 700;
  color: hsl(226, 61%, 41%);
  margin-right: 10px;
}

.logo-img {
  width: 38px;
  height: auto;
  margin: 10px 0;
  margin-right: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.menu-items {
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
  text-wrap: nowrap;
}

.menu-items:hover {
  color: #f9995d;
}

/* Hero section-----> */
.hero {
  display: flex;
  flex-direction: column;
  background: url("./images/hero.png");
  background-repeat: no-repeat;
  height: 80vh;
  padding: 30px;
  padding-bottom: 0;
}

.mission h1 {
  color: #292E3D;
  margin: 20px;
  text-wrap: wrap;
  font-size: 50px;
  font-weight: 600;
  flex-direction: column;
}

.mission {
  max-width: 600px;
  height: 100%;
  position: relative;
}

.feature {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  color: white;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  background-color: #3559c7;
  border: 2px solid #3559c7;
}

.feature-up h5 {
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
}

.feature-up h3 {
  font-weight: 400;
  font-size: 24px;
  padding: 20px;
}

.feature-down {
  width: 100%;
  background-color: white;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.feature-down i {
  margin: 0 5px;
}

.feature-button {
  width: 44%;
  background-color: black;
  padding: 10px;
}

.feature a {
  text-decoration: none;
  color: white;
}

.feature-button button {
  border: none;
  background-color: black;
  color: white;
}


/* Reputation section------> */
.reputation {
  padding: 40px 0;
  margin: aut0;
}

.reputation h3 {
  padding: 30px;
  text-align: center;
  font-size: 36px;
  color: #292E3D;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reputation-card {
  border: 1.4px solid #e0e3eb;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  margin: 30px;
  padding: 10px;
  height: 14rem;
}

.reputation-card i {
  font-size: 40px;
  color: #f9995d;
}

.reputation-card h4 {
  font-size: 20px;
  font-weight: 700;
}

.reputation-card h5 {
  font-size: 16px;
  font-weight: 400;
  color: #858ead;
}

.card-item {
  margin: 10px;
}

/* About us section-----> */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 60px 0;
  color: white;
}

.about img {
  width: 90%;
  height: auto;
  margin: auto;
}

.about h3 {
  font-size: 36px;
  margin: 20px 0;
  font-weight: 700;
}

.about h5 {
  font-size: 20px;
  font-weight: 400;
}

.about-container {
  border-radius: 2px;
  box-shadow: 1px 1px 10px grey;
  margin: 30px auto;
  padding: 30px;
  width: 70%;
  top: 80%;
  background-color: #2947a9;
}

.about-container button {
  font-size: 18px;
  background-color: white;
  color: #2947a9;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 30px 10px;
}

/* Services section-------> */
.services {
  background-color: #f6f8f7;
  padding: 40px 10px;
}

.services h4 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 10px;
}

.services img {
  width: 40px;
  height: auto;
  padding: 10px;
}

.service-card h5 {
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

.service-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blue {
  background-color: #2947a9;
  color: white;
}

.white img {
  border-bottom: 1px solid black;
}

.blue img {
  border-bottom: 1px solid white;
}

.white {
  background-color: white;
  color: #2947a9;
}

.service-card {
  width: 300px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  transition: transform 300ms ease-in-out;

}

.service-card:hover {
  transform: scale(1.1);

}

/* experience section-------------> */
.experience {
  display: flex;
  flex-direction: column;
}

.experience-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 120px;
}

.stat {
  padding: 15px;
  margin: 20px;
  box-shadow: 2px 2px 5px grey;
  min-width: 250px;
  position: relative;
  background-color: white;
}

.stat h2 {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 600;

}

.stat h5 {
  font-size: 20px;
  font-weight: 400;
  color: #667299;
  padding: 10px;
  margin-left: 20px;
  border-left: 5px solid #F9995D;
}

.stat img {
  width: 75px;
  height: auto;
  position: absolute;
  top: -10%;
  right: 2%;
}

.stat2 img {
  right: 0%;
  left: -10%;
  /* left:0; */
}

.stat4 img {
  top: auto;
  bottom: -10%;
  right: 2%;
}

.experience-right {
  margin: auto;
  padding: 30px 10px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-right h2 {
  text-wrap: wrap;
  color: #2947A9;
  font-size: 40px;
  font-weight: 700;
  margin: 30px 20px;
}

.experience-right h4 {
  text-wrap: wrap;
  color: #525B7A;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 20px;
}

.experience-right button {
  padding: 15px 25px;
  background-color: #2947A9;
  border: none;
  margin: 30px 20px;
  border-radius: 2px;
  align-self: flex-start;

}

.experience-right a {
  font-weight: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

/* consultation section------> */
.consultation {
  background: url("./images/ads.png");
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 10px;
}

.consultation-right {
  padding: 20px 10px;
}

.consultation-right button {
  background-color: inherit;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  min-width: 250px;
  margin: auto;
}

.consultation-right a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.consult-left h6 span {
  text-decoration: underline;
}


.consult-left {
  padding: 10px;
}

.consult-left h4 {
  margin: 20px 0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}


.consult-left h6 {
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0;
  text-align: center;
}


/* projects--------> */
.project-card img {
  max-width: 100%;
  max-height: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-card {
  max-width: 320px;
  background-color: #2947A9;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.project-card h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  text-wrap: wrap;
}

.project-card h6 {
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
  text-wrap: wrap;
}

.project-right {
  margin: auto;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* margin: auto; */
}

.project-buttons {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-buttons img {
  display: none;
}

.project-left {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.project-left h3 {
  color: #292E3D;
  font-size: 36px;
  font-weight: 700;
  margin: 20px;
}

.project-left h5 {
  font-size: 24px;
  font-weight: 500;
  color: #C2C7D6;
  margin: 20px;
  border-left: 5px solid white;
  padding: 0 10px;
}

.project-left h5:hover {
  color: #2947A9;
  border-left: 5px solid #2947A9;
}

.project-buttons button {
  color: white;
  background-color: black;
  padding: 10px 30px;
  margin: 10px;
  border: none;
}

.project-buttons a {
  text-decoration: none;
  color: white;
}

/* form section-----> */
.form {
  padding: 50px 15px;
  background-color: #f6f8f7;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form button {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #2947A9;
  border: none;
  padding: 10px 30px;
  border-radius: 2px;
  width: 200px;
  max-width: 200px;
}

.form h4 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 10px;
}

.form h6 {
  font-size: 16px;
  font-weight: 400;
  margin: 20px;
}

.form h5 {
  color: var(--Neutral-800, #292e3d);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin: 20px auto;
  max-width: 500px;
}

#message {
  width: 80%;
  height: 100px;
}

.form input {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: none;
}

/* footer section -----> */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  padding: 30px;
  margin: auto;
}


.footer-left {
  padding: 5px;
  display: flex;
  max-width: 500px;
  margin: auto;
}

.footer-right {
  padding: 10px;
  max-width: 500px;
}

.foot-left-content {
  color: #292e3d;
}

.foot-left-content h5 {
  text-wrap: wrap;
  font-size: 16px;
  font-weight: 400;
  min-height: 70px;
}


.logo-down h4 {
  color: #2947A9;
  font-size: 24px;
  font-weight: 700;

}

.foot-left-heading h5 {
  color: #2947a9;
  font-size: 16px;
  /* font-size: 20px; */
  font-weight: 500;
  padding-right: 10px;
  min-height: 70px;
}

.footer-right h5 {
  color: #2947a9;
  font-size: 16px;
  font-weight: 500;
  min-height: 30px;
}

.email {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  min-height: 60px;
}

.email button {
  padding: 10px;
  width: 100px;
  margin: 10px 0;
  border: none;
  border-radius: 2px;
  background-color: #f9995d;
}

.logo-social {
  margin: 10px 0;
  display: flex;
  min-height: 60px;
}

.email input {
  height: 30px;
  width: 200px;
}

.logo-social i {
  font-size: 35px;
  margin: 10px;
}


/* Copyright section-----> */
.copyright {
  background-color: #2947a9;
  padding: 20px;
  padding-left: 100px;
}

.copyright h5 {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

@media (min-width: 650px) {
  .project-buttons img {
    display: block;
    width: 16px;
    height: 16px;
    margin: 5px;
  }

  .hamburger{
    display: none !important;
  }

  .mission h1 {
    font-size: 60px;
  }

  .consult-left h4,
  .consult-left h6 {
    text-align: left;
  }


  .hero h1 {
    font-size: 65px;
  }

  #message {
    width: 90%;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form input {
    width: 40%;
  }

  .mission h1 {
    text-wrap: wrap;
    position: absolute;
    top: 20%;
    left: 15%;
    font-size: 55px;
  }

  .menu {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    width: auto;
  }

  .menu-items {
    margin: 20px;
  }

  .experience-left {
    padding: 50px 0;
    height: 600px;
    position: relative;
  }

  .experience-right h2 {
    font-size: 50px;
  }

  .stat {
    position: absolute;
    width: 290px;
  }

  .stat h2 {
    font-size: 60px;
  }

  .stat h5 {
    font-size: 24px;
  }

  .stat img {
    width: 80px;
    right: -10%;
  }

  .stat1 {
    top: 10%;
    right: 15%;
    z-index: 5;
  }

  .stat2 {
    top: 30%;
    left: 10%;
  }

  .stat3 {
    top: 50%;
    right: 15%;
    z-index: 5;
  }

  .stat4 {
    top: 70%;
    left: 15%;
  }

  .consultation {
    flex-direction: row;
    height: 30vh;
  }

  .consult-left {
    margin: auto;
  }

  .consultation-right {
    margin: auto;
  }

  .project-card-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer {
    flex-direction: row;
    max-width: none;
  }

  .footer-left {
    padding: 10px;
  }

  .foot-left-content h5 {
    font-size: 20px;
  }

  .foot-left-heading h5 {
    font-size: 20px;
  }

  .footer-right h5 {
    font-size: 20px;
  }

  .email {
    flex-direction: row;
    align-items: center;
  }

  .email button {
    margin: 0 10px;
  }

  .logo-social i {
    font-size: 40px;

  }

  .logo-social {
    min-height: 60px;
    align-items: center;
  }
}

@media (min-width: 850px) {

  nav {
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    z-index: 15;
    position: sticky;
  }

  .mission h1 {
    font-size: 72px;
    width: 700px;
  }

  .mission {
    font-size: 72px;
  }

  .logo {
    margin: 0 0px;
    padding-left: 50px;
  }

  .hero {
    flex-direction: column;
    height: 78vh;
    position: relative;
  }

  .feature {
    position: absolute;
    bottom: 0%;
    right: 100px;
  }

  form {
    width: 50%;
  }

  .menu {
    justify-content: end;
    align-items: center;
    margin-right: 100px;
  }

  .card-container {
    flex-direction: row;
    width: 80%;
    margin: auto;
  }

  .about img {
    width: 60%;
  }

  .about {
    margin-bottom: 120px;
  }

  .about-container {
    position: absolute;
    min-width: 300px;
    padding: 20px;
    width: 30%;
    top: 20%;
    right: 5%;
  }

  .about-container button {
    margin-top: 30px;
  }

  .projects {
    padding: 50px;
    flex-direction: row;
  }

  .project-right {
    display: flex;
    flex-direction: column;
  }

  .project-card-container {
    margin-top: 100px;
  }

  .project-buttons {
    display: flex;
    justify-content: center;
  }

  .experience-right h2 {
    font-size: 50px;
  }
}

@media (min-width:950px) {

  .logo {
    margin-left: 100px;
  }

  .experience {
    flex-direction: row;
    margin: 50px 0;
  }

  .experience-right {
    flex-wrap: wrap;
    padding: 10px;
  }

  .experience-right h2 {
    font-size: 60px;
  }

  .experience-left {
    /* max-width: 850px;
    min-width: 600px; */
    width: 60%;
  }


}